<div class="dgu-tabs__content">
  <section class="dgu-show-all">
    <h2 class="heading-medium dgu-tasklist__title" id="update-datasets">
      <%= @update_dataset_tasks.count =%> datasets need to be updated
    </h2>
    <table class="dgu-tasklist__table">
      <thead>
        <tr>
          <th class="dgu-sortable-column__heading dgu-tasklist__name-column">
            <%= link_to "Name",
            tasks_path(update_sort_by: @update_name_sort,
                       fix_sort_by: params[:fix_sort_by]) + "#update-datasets",
                       class:"dgu-sortable-column__heading__ascending" %>
          </th>
          <th class="dgu-sortable-column__heading dgu-tasklist__update-by-column">
            <%=link_to "Update by",
            tasks_path(update_sort_by: @date_sort,
                       fix_sort_by: params[:fix_sort_by]) + "#update-datasets",
                       class:"dgu-sortable-column__heading__ascending" %>
          </th>
          <th class="dgu-tasklist__actions-column">
            <span class="visuallyhidden">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% sorted_update_tasks.each do |task| %>
          <tr class="dgu-show-all__item">
            <th>
              <a href=""><%= task.description =%></a>
            </th>
            <td>
              <span class="dgu-tasklist__update-date"><%=task.created_at.strftime("%d %b %Y")%></span>
              <div class="dgu-tasklist__alert">Overdue</div>
            </td>
            <td class="dgu-tasklist__actions-column">
              <a href="">Update</a>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><a class="dgu-show-all__toggle" style="display:none">Show all</a></td>
        </tr>
      </tfoot>
    </table>
  </section>

  <section class="dgu-show-all">
    <h2 class="heading-medium dgu-tasklist__title" id="broken-datasets">
      <%=broken_dataset_count=%> datasets have broken data links
    </h2>
    <table class="dgu-tasklist__table">
      <thead>
        <tr>
          <th class="dgu-sortable-column__heading dgu-tasklist__name-column">
            <%=link_to "Name",
            tasks_path(fix_sort_by: @fix_name_sort,
                       update_sort_by: params[:update_sort_by]) + "#broken-datasets",
                       class:"dgu-sortable-column__heading__ascending" %>
          </th>
          <th class="dgu-sortable-column__heading dgu-tasklist__broken-links-column">
            <%=link_to "Broken links",
            tasks_path(fix_sort_by: @count_sort,
                       update_sort_by: params[:update_sort_by]) + "#broken-datasets",
                       class:"dgu-sortable-column__heading__ascending dgu-tasklist__link-count" %>
          </th>
          <th class="dgu-tasklist__actions-column">
            <span class="visuallyhidden">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% sorted_broken_tasks.each do |task| %>
          <tr class="dgu-show-all__item">
            <th>
              <a href=""><%=task.description=%></a>
            </th>
            <td class="dgu-tasklist__broken-links-column"><%=task.quantity=%></td>
            <td class="dgu-tasklist__actions-column">
              <a href="">Fix</a>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><a class="dgu-show-all__toggle" style="display:none">Show all</a>
          </td>
        </tr>
      </tfoot>
    </table>
  </section>

  <div id="stats" class="js-hidden" style="display: none">
    <div id="orgs" style="display: none">{{ orgs }}</div>
    <div id="api-endpoint" style="display: none">{{ api_endpoint }}</div>
    <h2 class="heading-medium">Most popular</h2>
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Downloads</th>
        </tr>
      </thead>
      <tbody>
        <tr id="row-template" style="display: none">
          <td class="dgu-stats-title"></td>
          <td>
            <span class="dgu-stats-downloads"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
