<% if flash[:alert] %>
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      There was a problem signing you in
    </h1>
    <p>
      Email and password combination not recognised.
    </p>
  </div>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Sign in</h1>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email_address %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group multiple-choice>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
   <% end -%>

  <p>
    <%= f.submit "Sign in", class: "button" %>
  </p>
<% end %>

<p>
  <%= render "users/shared/links" %>
</p>
