<div class="form-group<%= " error" if dataset.errors.include?(field[:name])%>" id="<%= field[:name] %>-form-group">

  <% if field[:input_type] == :radio_button %>
    <span class="form-hint"><%= field.fetch(:hint, '') %></span>

    <%= f.label field[:name].to_sym, class: field[:label_class] || 'form-label-bold' do %>
      <%="#{field.fetch(:label, field[:name].humanize)}#{field[:optional] ? ' (optional)' : ''}" %>

        <%= f.radio_button field[:name], (field[:value] || dataset.send(field[:name])),{
           class: field[:input_class] || '',
           id: field[:id] || "id_#{field[:name]}",
           value: field[:value] || dataset.send(field[:name])
         }.merge(field.fetch(:input_options, {})) %>
    <% end %>

  <% else %>
    <%= f.label field[:name].to_sym,
                "#{field.fetch(:label, field[:name].humanize)}#{field[:optional] ? ' (optional)' : ''}",
                class: field[:label_class] || 'form-label-bold'
    %>

    <% if dataset.errors.key? field[:name] %>
      <span class="error-message"><%= dataset.errors[field[:name]].first %></span>
    <% end %>

    <span class="form-hint"><%= field.fetch(:hint, '') %></span>

    <% if field[:input_type] %>
      <%= f.send(field[:input_type],
                 field[:name],
                 {
                   class: "form-control #{field[:input_class]} form-control-2-3",
                   id: field[:id] || "id_#{field[:name]}",
                   value: field[:value] || dataset.send(field[:name])
                 }.merge(field.fetch(:input_options, {}))) %>
    <% else %>
      <%= f.text_field field[:name],
                 class: "form-control #{field[:input_class]} form-control-2-3",
                 id: field[:id] || "id_#{field[:name]}",
                 value: field[:value] || dataset.send(field[:name]) %>
    <% end %>
  <% end %>

</div>
