<% content_for :page_title do %>
    Add a link to your data -
<% end %>

<main role="main" id="content">
  <h1 class="heading-large">Add a link to your data</h1>
  <div class="datasets">
      <% if @datafile.errors.any? %>
		  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
			  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				There was a problem
			  </h1>
			  <ul class="error-summary-list">
          <% @datafile.errors.each do |attr, message| %>
              <li>
                  <a href="#<%= attr.to_s %>_form_group">
                      <%= "#{attr.to_s.humanize} #{message}" %>
                  </a>
                  <span class="visuallyhidden">.</span>
              </li>
				  <% end %>
			  </ul>
		  </div>
      <% end %>

      <%= form_for @datafile, url: new_addfile_dataset_path(@dataset), method: 'post' do |f| %>
          <%= dataset_field f, @datafile,
              name: 'url',
              label: 'URL',
              input_type: :text_field,
              input_class: 'form-control-2-3',
              hint: 'Enter a link (beginning with http:// or https://) to point directly to your data file. The file will usually be uploaded to either your organisation’s website or another website, like GOV.UK or Amazon Web Services (AWS).',
              value: @datafile.url %>

          <%= dataset_field f, @datafile,
              name: 'name',
              label: 'Link name',
              input_type: :text_field,
              input_class: 'form-control-2-3',
              hint: 'The link name mustn’t be the same as the URL. It should clearly describe the data so users can find it easily.',
              value: @datafile.name %>

          <div class="form-group">
            <p><%= f.submit 'Save and continue', class: 'button' %></p>
            <p><%= link_to 'Skip this step', new_adddoc_dataset_path(@dataset) %></p>
          </div>
      <% end %>
  </div>
</main>
