<% content_for :page_title do %>
    Select frequency -
<% end %>

<h1 class="heading-large">How frequently is this dataset updated?</h1>
<div class="datasets">
  <% if @dataset.errors.any? %>
		<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
			<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				There was a problem
			</h1>
			<ul class="error-summary-list">
        <% @dataset.errors.each do |attr, message| %>
          <li>
            <a href="#<%= attr.to_s %>_form_group">
              <%= "#{attr.to_s.humanize} #{message}" %>
            </a>
            <span class="visuallyhidden">.</span>
          </li>
				<% end %>
			</ul>
		</div>
  <% end %>

  <%= form_for @dataset, url: new_frequency_dataset_path(@dataset), method: 'post' do |f| %>
    <div class="form-group">
      <fieldset>

        <legend class="visually-hidden">How frequently is this dataset updated?</legend>

        <%= dataset_field f, @dataset,
        name: 'frequency',
        input_type: :radio_button,
        label: 'Daily',
        value: 'daily' %>
        <%= dataset_field f, @dataset,
        name: 'frequency',
        input_type: :radio_button,
        label: 'Weekly',
        value: 'weekly' %>
        <%= dataset_field f, @dataset,
        name: 'frequency',
        input_type: :radio_button,
        label: 'Monthly',
        value: 'monthly' %>
        <%= dataset_field f, @dataset,
        name: 'frequency',
        input_type: :radio_button,
        label: 'Quarterly',
        value: 'quarterly' %>
        <%= dataset_field f, @dataset,
        name: 'frequency',
        input_type: :radio_button,
        label: 'Annually (January to December)',
        value: 'annually' %>
        <%= dataset_field f, @dataset,
        name: 'frequency',
        input_type: :radio_button,
        label: 'Annually (financial year April to March)',
        value: 'financial-year' %>
        <%= dataset_field f, @dataset,
        name: 'frequency',
        input_type: :radio_button,
        label: 'One-off',
        value: 'never' %>
      </fieldset>
    </div>
    <%= f.submit 'Save and continue', class: 'button' %>
  <% end %>
</div>
