<% content_for :page_title do %>
  Check your dataset -
<% end %>

<h1 class="heading-large">Publish ‘<%= @dataset.title %>’</h1>

<ul>
  <li>Status: <%= @dataset.status %></li>
  <li>Published by: <%= @dataset.organisation.title %></li>
</ul>

<table class="dgu-checklist">
  <tbody>
    <tr>
      <th class="dgu-checklist__heading">Title</th>
      <td><%= @dataset.title %>
        <td class="dgu-checklist__actions">
          <%= link_to 'Change', edit_dataset_path(@dataset) %>
        </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Summary</th>
      <td><%= @dataset.summary %>
        <td class="dgu-checklist__actions">
          <%= link_to 'Change', edit_dataset_path(@dataset) %>
        </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Additional information</th>
      <td><%= @dataset.description %>
        <td class="dgu-checklist__actions">
          <%= link_to 'Change', edit_dataset_path(@dataset) %>
        </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Licence</th>
      <td><%= @dataset.licence == 'uk-ogl' ? 'Open Government Licence' : @dataset.licence %>
        <td class="dgu-checklist__actions">
          <% if @dataset.licence %>
            <%= link_to 'Change', edit_licence_path(@dataset) %>
          <% else %>
            <%= link_to 'Select', edit_licence_path(@dataset) %>
          <% end %>
        </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Geographical location</th>
      <td><%= @dataset.location1 %>
        <td class="dgu-checklist__actions">
          <% if @dataset.location1 %>
            <%= link_to 'Change', edit_location_path(@dataset) %>
          <% else %>
            <%= link_to 'Add', edit_location_path(@dataset) %>
          <% end %>
        </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Frequency</th>
      <td><%= friendly_frequency(@dataset.frequency) %>
        <td class="dgu-checklist__actions">
          <% if @dataset.frequency %>
            <%= link_to 'Change', edit_frequency_path(@dataset) %>
          <% else %>
            <%= link_to 'Select', edit_frequency_path(@dataset) %>
          <% end %>
        </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Data</th>
      <td>
        <% @dataset.datafiles.datalinks.each do |link| %>
          <%= link_to link.name, link.url %>
        <% end %>
      </td>
      <td class="dgu-checklist__actions">
        <% if @dataset.datafiles.datalinks.any? %>
          <%= link_to 'Change', files_path(@dataset) %>
        <% else %>
          <%= link_to 'Add', new_file_path(@dataset) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Documentation</th>
      <td><% @dataset.datafiles.documentation.each do |doc| %>
        <%= link_to doc.name, doc.url %>
      <% end %>
      <td class="dgu-checklist__actions">
        <% if @dataset.datafiles.documentation.any? %>
          <%= link_to 'Change', documents_path(@dataset) %>
        <% else %>
          <%= link_to 'Add', new_document_path(@dataset) %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<% unless @dataset.published? %>
  <%= form_for @dataset, url: publish_dataset_path(@dataset), method: 'post' do |f| %>
    <p><%= f.submit 'Publish', class: 'button' %></p>
  <% end %>
<% end %>

<p><%= link_to 'Delete this dataset', confirm_delete_dataset_path, class: 'secondary-button danger' %></p>
<p><%= link_to 'Back to manage your dataset', manage_path, class: 'secondary-button' %></p>
