<% content_for :page_title do %>
  Check your dataset -
<% end %>

<% if @dataset.errors.any? || flash[:alert] %>
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    <% if @dataset.errors.any? %>
      <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        There was a problem
      </h1>

      <ul class="error-summary-list">
        <% @dataset.errors.each do |attr, error| %>
          <li><a href="#<%= attr.to_s %>_form_group"><%= error %></a></li>
        <% end %>
      </ul>
    <% else %>
    <div id="confirm-delete-box">
      <h1 class="heading-medium error-summary-heading"><%= flash[:alert] %></h1>
      <%= link_to "Yes, delete this dataset", delete_dataset_path(@dataset.uuid, @dataset.name), method: :delete, class: 'button confirm-delete-box__button' %>
      <%= link_to "Cancel", edit_dataset_path(@dataset.uuid, @dataset.name), class: 'secondary-button' %>
    </div>
    <% end %>
  </div>

<% end %>

<h1 class="heading-large">
  <% if current_page?(confirm_delete_dataset_path) %>
    ‘<%= @dataset.title %>’
  <% else %>
    <%= @dataset.published? ? "Edit" : "Publish" %>  ‘<%= @dataset.title %>’
  <% end %>
</h1>
<ul>
  <li>Status: <%= @dataset.status %></li>
  <li>Published by: <%= @dataset.organisation.title %></li>
</ul>

<table class="dgu-checklist">
  <tbody>
    <tr>
      <th class="dgu-checklist__heading">Title</th>
      <td><%= @dataset.title %>
        <td class="dgu-checklist__actions">
          <%= link_to 'Change', edit_dataset_path(@dataset.uuid, @dataset.name) %>
        </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Summary</th>
      <td><%= @dataset.summary %>
        <td class="dgu-checklist__actions">
          <%= link_to 'Change', edit_dataset_path(@dataset.uuid, @dataset.name) %>
        </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Additional information</th>
      <td><%= @dataset.description %>
        <td class="dgu-checklist__actions">
          <%= link_to 'Change', edit_dataset_path(@dataset.uuid, @dataset.name) %>
        </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Licence</th>
      <td>
        <% if @dataset.errors[:licence].any? %>
          <div class="form-group-error" id="licence_form_group">
            <span class="error-message error">You must choose a licence</span>
          </div>
        <% end %>
        <%= case @dataset.licence
          when 'uk-ogl'
            'Open Government Licence'
          when 'odc-by'
            "Open Data Commons Attribution License"
          when 'odc-odbl'
            'Open Data Commons Open Database License (ODbL)'
          when 'cc-by'
            'Creative Commons Attribution'
          when 'cc-zero'
            'Creative Commons CCZero'
          else
            'Other'
          end
        =%>
      </td>
      <td class="dgu-checklist__actions">
        <% if @dataset.licence %>
          <%= link_to 'Change', edit_dataset_licence_path(@dataset.uuid, @dataset.name) %>
        <% else %>
          <%= link_to 'Select', edit_dataset_licence_path(@dataset.uuid, @dataset.name) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Geographical location</th>
      <td>
        <% if @dataset.location1.present? %><%=@dataset.location1 %><% end %><% if @dataset.location2.present? %>, <%=@dataset.location2 %><% end %><% if @dataset.location3.present? %>, <%=@dataset.location3%><% end %>

        <td class="dgu-checklist__actions">
          <% if @dataset.location1 %>
            <%= link_to 'Change', edit_dataset_location_path(@dataset.uuid, @dataset.name) %>
          <% else %>
            <%= link_to 'Add', edit_dataset_location_path(@dataset.uuid, @dataset.name) %>
          <% end %>
        </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Frequency</th>
      <td><%= friendly_frequency(@dataset.frequency) if @dataset.frequency %></td>
      <td class="dgu-checklist__actions">
        <% if @dataset.frequency %>
          <%= link_to 'Change', edit_dataset_frequency_path(@dataset.uuid, @dataset.name) %>
        <% else %>
          <%= link_to 'Select', edit_dataset_frequency_path(@dataset.uuid, @dataset.name) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Data</th>
      <td id="files_form_group">
        <% @dataset.datafiles.each do |datafile| %>
          <%= link_to datafile.name, datafile.url %>
        <% end %>
        <% if @dataset.errors[:files].any? %>
          <div class="form-group-error" id="files_form_group">
            <span class="error-message error"><%= @dataset.errors[:files].first %></span>
          </div>
        <% end %>
      </td>
      <td class="dgu-checklist__actions">
        <% if @dataset.datafiles.any? %>
          <%= link_to 'Change', dataset_datafiles_path(@dataset.uuid, @dataset.name) %>
        <% else %>
          <%= link_to 'Add', new_dataset_datafile_path(@dataset.uuid, @dataset.name) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="dgu-checklist__heading">Documentation</th>
      <td><% @dataset.docs.each do |doc| %>
        <%= link_to doc.name, doc.url %>
      <% end %>
      <td class="dgu-checklist__actions">
        <% if @dataset.docs.any? %>
          <%= link_to 'Change', dataset_docs_path(@dataset.uuid, @dataset.name) %>
        <% else %>
          <%= link_to 'Add', new_dataset_doc_path(@dataset.uuid, @dataset.name) %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<%= form_for @dataset, url: publish_dataset_path(@dataset.uuid, @dataset.name), method: :post do |f| %>
  <p><%= f.submit @dataset.published? ? "Publish changes" : "Publish", class: 'button' %></p>
<% end %>

<% unless @dataset.published? %>
  <p><%= link_to 'Delete this dataset', confirm_delete_dataset_path(@dataset.uuid, @dataset.name), class: 'secondary-button danger' %></p>
<% end %>

<p><%= link_to 'Back to manage your dataset', manage_path, class: 'secondary-button' %></p>
