
<% content_for :page_title do %>
    Links to your data -
<% end %>

<main role="main" id="content">
  <h1 class="heading-large">Links to your data</h1>

  <table>
    <thead>
      <tr>
        <th>Link name</th>
        <th>Valid</th>
        <th><span class="visuallyhidden">Actions</span></th>
      </tr>
    </thead>
  <tbody>
    <% @datafiles.each do |link| %>
      <tr id="file_1">
        <th><a href="<%= link.url %>"><%= link.name %></a></th>
        <td>✔</td>
        <td class="actions">
          <%= link_to 'Edit', edit_file_path(@dataset.id, link.id) %>
          <%= link_to 'Delete', file_path(@dataset.id, link.id), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <p>
    <%= link_to 'Add another link', new_file_path(@dataset, new: true), class: "secondary-button" %>
  </p>

  <p>
    <% if @initialising %>
      <%= link_to 'Save and continue', new_document_path(@dataset), class: "button" %>
    <% else %>
      <%= link_to 'Save and continue', dataset_path(@dataset), class: "button" %>
    <% end %>
  </p>

</main>
