<main id="content" role="main" tabindex="-1">
  <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Resend unlock instructions</h1>

        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Resend unlock instructions", class: "button" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
    </div>
  </div>
</main>
