<% content_for :page_title do %>
  Add location -
<% end %>

<% if @dataset.errors.any? %>
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      There was a problem
    </h1>
    <ul class="error-summary-list">
      <% @dataset.errors.each do |attr, message| %>
        <li>
          <a href="#<%= attr.to_s %>_form_group">
            <%= message %>
          </a>
          <span class="visuallyhidden">.</span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1 class="heading-large">Choose a geographical area</h1>

<%= form_for @dataset, url: location_path(@dataset), method: :post do |f| %>
  <fieldset>
    <legend class="visually-hidden">
      Choose a geographical area
    </legend>

    <div id="location1" class="dgu-location">
      <%= dataset_field f, @dataset,
      input_type: :text_field,
      id: 'id_location1',
      name: 'location1',
      label: "Enter the area covered by this dataset",
      input_options: { autocomplete: false },
      input_class: 'dgu-location__input',
      remove: 'del1',
      add: 'add1' %>
    </div>

    <div id="location2" class="dgu-location">
      <script>document.getElementById('location2').style.display='none'</script>

      <%= dataset_field f, @dataset,
      input_type: :text_field,
      id: 'id_location2',
      name: 'location2',
      label: "Enter another area",
      input_options: { autocomplete: false },
      input_class: 'dgu-location__input form-control-2-3',
      remove: 'del2',
      add: 'add2' %>
    </div>

    <div id="location3" class="dgu-location">
      <script>document.getElementById('location3').style.display='none'</script>

      <%= dataset_field f, @dataset,
      input_type: :text_field,
      id: 'id_location3',
      name: 'location3',
      label: "Enter another area",
      input_options: { autocomplete: false },
      input_class: 'dgu-location__input form-control-2-3',
      remove: 'del3' %>
    </div>

  </fieldset>
  <p><%= f.submit 'Save and continue', class: 'button' %></p>
  <p><%= link_to 'Skip this step', new_frequency_path(@dataset) %></p>
<% end %>
