
<div class="dgu-tabs__content">
  <section class="show-hide">
  </section>

  <table
      class="dgu-datasets-table"
      <% if @datasets.none? %>style="display:none"<% end %>>
    <thead>
      <tr>
        <th class="dgu-sortable-column__heading">
          <%= sortable "name", "Dataset Name" %>
        </th>

        <th class="dgu-sortable-column__heading">
          <%= sortable "status" %>
        </th>

        <th><span class="visuallyhidden">Actions</span></th>
      </tr>
    </thead>

    <tbody id="dataset-list">
      <% @datasets.each do |dataset| %>
        <tr>
          <th>
            <% if dataset.published? %>
              <a href="<%= find_url(dataset.name) %>"><%= dataset.title %></a>
            <% else %>
              <%= dataset.title %>
            <% end %>
          </th>
          <td>
            <%= dataset.status.titleize %>
          </td>
          <td class="dgu-datasets-table__actions">
            <% if dataset.name %>
              <%= link_to 'Add Data', links_path(dataset) %>
              <%= link_to 'Edit', dataset_path(dataset) %><br/>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @datasets.count == 0 %>
  <p
      class="noresults"
      style="display:<% if @datasets.count %>block<% else %>none<% end %>">
    No results found
  </p>
  <% end %>
</div>
