
<div class="dgu-tabs__content">
  <section class="show-hide">
  </section>

  <table
      class="dgu-datasets-table"
      <%  if @datasets.count == 0 %>style="display:none"<% end %>>
    <thead>
      <tr>
        <th class="dgu-sortable-column__heading">
          <%= link_to "Dataset Name", set_path(sort_by: @name_sort, q: @q), class:"dgu-sortable-column__heading__ascending" %>
        </th>
        <th class="dgu-sortable-column__heading">
          <%= link_to "Status", set_path(sort_by: @publish_sort, q: @q), class:"dgu-sortable-column__heading__ascending" %>
        </th>
        <th><span class="visuallyhidden">Actions</span></th>
      </tr>
    </thead>
    <tbody id="dataset-list">
      <% sorted_datasets.each do |dataset| %>
        <tr>
          <th>
            <% if dataset.published %>
              <a href="<%= find_url(dataset) %>"><%= dataset.title %></a>
            <% else %>
              <%= dataset.title %>
            <% end %>
          </th>
          <td>
            <% if dataset.published %>
              Published
            <% else %>
              Draft
            <% end %>
          </td>
          <td class="dgu-datasets-table__actions">
            <% if dataset.name %>
              <%= link_to 'Add Data', files_path(dataset) %>
              <%= link_to 'Edit', dataset_path(dataset) %><br/>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @datasets.count == 0 %>
  <p
      class="noresults"
      style="display:<% if @datasets.count %>block<% else %>none<% end %>">
    No results found
  </p>
  <% end %>
</div>
