<% if flash[:success] %>
<div class="govuk-box-highlight">
  <h1 class="bold-large"><%= flash[:success] %></h1>
  <h2>
    <%= link_to "View it", find_url(flash['extra']['uuid'], flash['extra']['name']) %>
  </h2>
</div>
<% end %>

<% if flash[:deleted] %>
<div class="error-summary" role="group" aria-labelledby="confirm-heading" tabindex="-1">
  <h1 class="heading-medium error-summary-heading"><%= flash[:deleted] %></h1>
</div>
<% end %>

<h1 class="heading-large">Manage your datasets</h1>

<%= render "manage/shared/search" %>

<div class="">
  <div class="dgu-tabs">
    <h2 class="heading-small">My datasets<div class="dgu-tabs__ie-fix"></div></h2>
    <div class="heading-small">
      <%= link_to "#{@organisation.title} datasets", manage_organisation_path(:q => @q) %>
    </div>
  </div>
  <%= render partial: 'base' %>
</div>
