
<% content_for :page_title do %>
    Links to supporting documents -
<% end %>

<main role="main" id="content">
  <% if flash.any? %>
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    <div id="confirm-delete-box">
      <% if flash[:alert] %>
        <h1 class="heading-medium error-summary-heading"><%= flash[:alert] %></h1>
          <%= link_to "Yes, delete this link",
              doc_path(file_id: params[:file_id]),
              method: :delete,
              class: 'button confirm-delete-box__button'
          %>
          <%= link_to "Cancel", docs_path(@dataset), class: 'secondary-button' %>
        <% end %>
        <% if flash[:deleted] %>
          <h1 class="heading-medium error-summary-heading"><%= flash[:deleted] %></h1>
        <% end %>
    </div>
  </div>
  <% end %>
  <h1 class="heading-large">Links to supporting documents</h1>

  <table>
    <thead>
      <tr>
        <th>Link name</th>
        <th>Valid</th>
        <th><span class="visuallyhidden">Actions</span></th>
      </tr>
    </thead>
  <tbody>
    <% @datafiles.each do |link| %>
      <tr id="file_1">
        <th><a href="<%= link.url %>"><%= link.name %></a></th>
        <td>✔</td>
        <td class="actions">
          <%= link_to 'Edit', edit_doc_path(@dataset, link.id) %>
          <%= link_to 'Delete', confirm_delete_doc_path(@dataset.id, link.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <p>
    <%= link_to 'Add another link', new_doc_path(@dataset), class: "secondary-button" %>
  </p>

  <p>
    <%= link_to 'Save and continue', dataset_path(@dataset), class: "button" %>
  </p>
</main>
