<% content_for :page_title do %>
  Add a link to your data -
<% end %>

<div class="datasets">
  <% if @link.errors.any? %>
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
      <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        There was a problem
      </h1>

      <ul class="error-summary-list">
        <% @link.errors.each do |attr, message| %>
          <li>
            <a href="#<%= attr.to_s %>_form_group">
              <%= message %>
            </a>
            <span class="visuallyhidden">.</span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="heading-large">Add a link to your data</h1>

  <%= form_for @link, url: dataset_links_path(@dataset.uuid, @dataset.name), method: :post do |f| %>
    <%= dataset_field f, @link,
    name: 'url',
    label: 'URL',
    input_type: :text_field,
    input_class: 'form-control-2-3',
    hint: 'Enter a link (beginning with http:// or https://) to point directly to your data file. The file will usually be uploaded to either your organisation’s website or another website, like GOV.UK or Amazon Web Services (AWS).',
    value: @link.url %>

    <%= dataset_field f, @link,
    name: 'name',
    label: 'Link name',
    input_type: :text_field,
    input_class: 'form-control-2-3',
    hint: 'The link name mustn’t be the same as the URL. It should clearly describe the data so users can find it easily.',
    value: @link.name %>

    <% if @dataset.daily? %>
      <%= render 'date_field' %>
    <% end %>

    <% if @dataset.monthly? %>
      <%= render 'month_input' %>
    <% end %>

    <% if @dataset.quarterly? %>
      <%= render 'quarter_inputs' %>
    <% end %>

    <% if @dataset.annually? || @dataset.financial_yearly? %>
      <%= render 'year_input' %>
    <% end %>

    <div class="form-group">
      <p><%= f.submit 'Save and continue', class: 'button' %></p>
      <p>
        <%= link_to 'Skip this step', new_dataset_doc_path(@dataset.uuid, @dataset.name) %>
      </p>
    </div>
  <% end %>
</div>
