<% content_for :page_title do %>
  Add license -
<% end %>

<%= render partial: 'datasets/errors', locals: { model: @dataset } %>

<h1 class="heading-large">Choose a licence for this dataset</h1>

<%= form_for @dataset, url: update_dataset_licence_path(@dataset.uuid, @dataset.name) do |f| %>
  <%= render partial: 'licence_options', locals: { form: f, dataset: @dataset } %>

  <p><%= f.submit 'Save and continue', class: 'button' %> </br></p>
  <p><%= link_to 'Cancel', dataset_path(@dataset.uuid, @dataset.name) %></p>
<% end %>
