<% content_for :page_title do %>
  Add license -
<% end %>

<div class="datasets">
  <%= render partial: 'datasets/errors', locals: { model: @dataset } %>

  <h1 class="heading-large">Choose a licence for this dataset</h1>

  <%= form_for @dataset, url: create_dataset_licence_path(@dataset.uuid, @dataset.name), method: :post do |f| %>
    <%= render partial: 'licence_options', locals: { form: f, dataset: @dataset } %>
    <div class="form-group">
      <p><%= f.submit 'Save and continue', class: 'button' %> </br></p>
      <p><%= link_to 'Skip this step', new_dataset_location_path(@dataset.uuid, @dataset.name) %></p>
    </div>
  <% end %>
</div>
